<h1>Sign In Here</h1>

<form action="/authenticate">
  <label>First name:</label>
  <input type="text" name="fname">
  <br>
  <label>Password:</label>
  <input type="password" name="pwd">
  <br>
  <input type="submit">
</form>
