
<h1> My Salons </h1>

<h3> Login: <%#= @user.login %> </h3>
<h3> Profile: <%#= @user.profile %> </h3>
  <p>
    <%#= f.label :"Salon name" %><br>
    <%#= f.text_field :salon_name %>
    </p>
   


<%# if @user.profile = "Client" %>
<%#= render 'clientform' %>
<%# elsif @user.profile == "Salon" %>
<%# render 'salonform' %>
<%# end %>

