<div class="page-header">
  <h1>Sign Up for using this website</h1>
</div>

<form action="/clients/create">
  <div class="form-group">
    <label>First Name:</label>
    <input name="first_name" type="text" class="form-control input-md" placeholder="First Name">
  </div>
  <div class="form-group">
    <label>Last Name:</label>
    <input name="last_name" type="text" class="form-control input-md" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label>Gender:</label>
    <input name="sex" type="text" class="form-control input-md"><!-- </textarea> -->
  </div>
  <div class="form-group">
    <label>Link to Profile Photo</label>
    <input name="image_url" type="text" class="form-control input-md"placeholder="http://">
  </div>
  <div class="form-group">
  <label>Date of Birth</label>
    <input name="date_of_birth" type="date" class="form-control input-md">
  </div>
  <div class="form-group">
  <label>e-mail address</label>
    <input name="email" type="email" class="form-control input-md">
  </div>
  <div class="form-group">
  <label>Phone Number</label> 
  <input name="phone" type="numeric" class="form-control input-md">
  </div>
  <button type="submit" class="btn btn-success btn-md">Submit</button>
  or
  <a href= "/clients">Cancel</a>
</form>

 
 <%#= form_for @client do |f| %>
   <% #if @client.errors.any? %>
   <!-- <div id="error_explanation">
     <h2><%#= pluralize(@client.errors.count, "error") %> detected. Please check your input values</h2>
     <ul>
     <%# @client.errors.full_messages.each do |msg| %>
      <li><%#= msg %></li> -->
     <% #end %>
     </ul>
   </div>
   <%# end %>
   <p>
     <%#= f.label :"first_name" %><br>
     <%#= f.text_field :first_name %>
     </p>

 <p>
     <%#= f.label :"last_name" %><br>
     <%#= f.text_field :last_name %>
 </p>

 <p>
     <%#= f.label :"Image_url " %><br>
     <%#= f.text_field :image_url %>
 </p>

 <p>
     <%#= f.label :"Gender" %><br>
     <%#= f.text_field :sex %>
 </p>

 <p>
     <%#= f.label :"Date of Birth" %><br>
     <%#= f.text_field :date_of_birth %>
 </p>

   <p>
     <%#= f.label :"Phone" %><br>
     <%#= f.text_field :phone %>
 </p>

 

   <p>
     <%#= f.label :"email" %><br>
     <%#= f.text_field :email %>
   </p>

   <p>
     <%#= f.submit %>
   </p>
 <%#end %>
