
<h1>Listing Clients</h1>

<a href="/clients/new"> Create New Client </a>


<!-- <table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
  </tr>

<%# @client.each do |client| %>
<%# if client.present? %>
  <tr>
    <td><%#= client.first_name %><%#= client.last_name %></td>
      </tr>
  <%# else %>
<%# end %>
</table>
<%# end %> -->

