


<h1><strong>Hi Vijay <%= @client.first_name %> <%#  =@client.last_name %></strong></h1>

<h2>Thank you for signing up. You can now go ahead and book appointments.</h2>

<a href="/welcome"> <button type="submit" class="btn btn-success btn-md">Click here to Book Appointment</button> </a>
